body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;

}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Для центрирования по вертикали на весь экран */
}

.form-wrapper-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Для центрирования по вертикали на весь экран */
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form > div {
    padding-bottom: 5px;
}

.form-wrapper-colum > img {
    max-width: 500px;

}

.form > select {
    height: 58px;
}

